.idea
.project
.classpath
.factorypath

*.iml
*.log
*.cache
*.diff
*.patch
*.tmp
*.class

target
*/target/*
*/target
/target
*/target/
/target/

.settings
*/.settings/*
*/.settings
/.settings
*/.settings/
/.settings/

build
*/build/*
*/build
/build
*/build/
/build/

bin
*/bin/*
*/bin
/bin
*/bin/
/bin/

gradle
*/.gradle/*
*/.gradle
/.gradle
*/.gradle/
/.gradle/

.cache-main
.sts4-cache
